<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bcs.web.callFeeRecord.mapper.CallFeeRecordMapper">
    <select id="selectRecordListByType" resultType="cn.bcs.web.callFeeRecord.domain.vo.CallFeeRecordVO">
        select
            bf.*,
        <if test="query.type == '1'">
                 ar.name as recordNickName,
             </if>
            su.nick_name as nick_name
        from
            b_call_fee_record bf
        left join sys_user su on bf.user_id = su.user_id
        <if test="query.type == '1'">
            left join b_apply_record ar on bf.record_ids = ar.id
        </if>
        where
            bf.type = #{query.type}
        <if test="query.month != null and query.month != ''">
            and bf.month = #{query.month}
        </if>
        <if test="query.userId != null">
            and bf.user_id = #{query.userId}
        </if>
        <if test="query.tenantId != null">
            and bf.tenant_id = #{query.tenantId}
        </if>

    </select>
</mapper>